table {
  display: table;
  width: 100%;
  border: 1px solid #212121;
  text-align: left;
  padding: 18px 30px;
}

form input.btn {
  width: 150px;
  height: 30px;
  background-color: purple;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-top: 18px;
}

form input.btn:disabled {
  background-color: rgba(128, 0, 128, 0.7);
}
