.content {
  padding: 30px;
}

.content h1, .content p {
  color: #212121;
}

.content a {
  color: purple;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.courses-page .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.courses-page .add-btn {
  height: 30px;
  border-radius: 5px;
  background-color: purple;
  color: white;
  font-weight: 800;
}
