/* HEADER.JS */
nav {
  background-color: #212121;
  padding: 30px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

nav a:first-child {
  margin-left: 0;
}

nav a:hover {
  color: purple;
}

/* LOADINGDOTS.JS */
nav .loading-dots {
  color: white;
  margin-left: 30px;
}

/* TEXTINPUT.JS */
.form-group {
  margin-top: 18px;
}

.form-group.has-error {
  border: 1px solid red;
}

.alert {
  background-color: red;
  padding: 15px;
  color: white;
  text-align: center;
}

.form-group input,
.form-group select {
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  width: 300px;
  margin-top: 9px;
}


